# ============================================================
# KBM PRINTING ENVIRONMENT CONFIGURATION
# ============================================================

# URL API Server Backend (Cloudflare Workers atau http://localhost:3001/api saat lokal)
VITE_GAS_URL=https://kbm-api.karyabaktimakmur.workers.dev/api

# Nama Aplikasi
VITE_APP_NAME=KBM Percetakan

# URL Google Apps Script Web App (Sebagai target cadangan manual / fallback)
VITE_BACKUP_GAS_URL=https://script.google.com/macros/s/AKfycbwGVC-HCtsQygsRgrAUSlF4V-IpU5pCHEojxO02tUWLMGq-Dz1CQHtVmV4MnNPzJYcFOA/exec

# PostgreSQL Database Connection URL (Sumobase JKT)
DATABASE_URL=postgresql://username:password@pgsql-dbas-jkt1-006.sumobase.my.id:6432/database_name
PORT=3001
